 

.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
 *{
   margin:10px
 }

ion-card-title,ion-title ,ion-card-subtitle{
 
  text-transform: uppercase
  ;
  }